snippet pdbtrace
import pdb; pdb.set_trace()
endsnippet

snippet tropvar
"$1": {
	"type": $2,
	"description": "$3",
},
endsnippet


snippet docstringf
"""$1

Args:
	$2 ($3): $4

Returns:
	$5: $6

"""
endsnippet

snippet docstringc
"""$1

Attributes:
	$2 ($3): $4

"""
endsnippet
