snippet resource
resource "$1" "$2" {
  $3
}
endsnippet

snippet data
data "$1" "$2" {
  $3
}

endsnippet

snippet provider
provider $1 {
  version = "~> $2"

  $3
}
endsnippet

snippet module
module "$1" {
  source = "$2"

  $3
}
endsnippet

snippet variable
variable "$1" {
  $2
}
endsnippet

snippet output
output "$1" {
  value = "$2"
}
endsnippet
